<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дневник Разроботчика</title>
    <script type="text/javascript" src="/static/script.js"></script>
    <link href="static/font.css" rel="stylesheet">
</head>

<body>
    <h1>Альмонах Разроботчика:</h1>
    <h3>Добавь свой репозиторий:</h3>
    <form>
        <div>
            <label for="proj_name">Название репозиторий</label>
            <input type="text" name="proj_name" id="proj_name">
        </div>
        <div>
            <label for="link">Ссылка на репозиторий</label>
            <input type="text" name="link" id="link">
        </div>
        <button onClick="addProject()">Добавить</button>
        <button onClick="clearProject()">Очистить всё</button>
    </form>
    <ul>
        {% for project in projects_list %}
        <li>
            <div style="display: flex; gap: 10px;">
                <div>{{ project['proj_name'] }}</div>
                <div><a href="{{  project['link'] }}">{{ project['link'] }} </a></div>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>